<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
  <title>{{page.title}}{{^page.title}}Minneapolis Psychologist - Dr. David Thompson | Therapy Minneapolis - Integral Psychotherapy{{/page.title}}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="Psychologist Minneapolis - Dr. David Thompson, psychotherapist" />
  <meta name="keywords" content="psychologist,child,counseling,therapy,therapist,minneapolis,twin,cities,MN,minnesota" />
  <meta name="robots" content="index,follow" />
  <meta name="DC.title" content="Minneapolis Psychologist - Dr. David Thompson" />
  <link rel="shortcut icon" href="/files/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="/theme//css/64fc8e8556c81836f927ca43fd9de8a6.css" />
</head>

<body class="not-front not-logged-in ntype-page sidebar-left">

<div id="page_wrapper">
<div id='rndtop'>
<div id='rndbot'>
  <!-- ******************************* HEADER PAGE AREA *********************** -->
  <div id="header">
    <div id="logo-title">
      <a href="/index.html" title="Home">
        <img src="/files/integral-therapy_logo.jpg" alt="Home" id="logo" />
      </a>
      <div id="name-and-slogan"></div><!-- /name-and-slogan -->
    </div> <!-- /logo-title -->
    <div id="navigation" class="menu  "></div><!-- /navigation -->
    <div id="header-region">
      <div class="breadcrumb"><a href="index.html">Home</a></div>
    </div>

  </div> <!-- /header -->
  <!-- ******************************* END HEADER PAGE AREA *********************** -->

  <!-- ******************************* START CONTENT PAGE AREA *********************** -->
  <div id="contain1">
    <div id="contain2">
      <!-- start side bar left -->
      <div id="sidebar-left" class="column sidebar left">
        <div class="pad">
          <div id="block-menu-47" class="block block-menu">
            <div class="blockinner">
              <h2 class="title"> Main Menu </h2>
              <div class="content">
                <ul class="menu">
                  <li class="leaf"><a href="/index.html" class="">Home</a></li>
                  <li class="leaf"><a href="/services.html" class="">Services</a></li>
                  <li class="leaf"><a href="/credentials.html" class="">Therapist info</a></li>
                  <li class="leaf"><a href="/approach.html" class="">Integral Approach</a></li>
                  <li class="leaf"><a href="/philosophy.html" class="">Philosophy</a></li>
                  <li class="leaf"><a href="/directions.html" title="Directions" class="">Directions</a></li>
                  <li class="leaf"><a href="/office.html" class="">Our office</a></li>
                  <li class="leaf"><a href="/contact.html" class="">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- /sidebar-left -->
      <!-- start sidebar right area -->
      <!-- /sidebar-right -->

      <!-- main text and content area -->
      <div id="textualcontent" class="{{#page.img_center}}img-center{{/page.img_center}}">
        <div class="pad">
          {{> page_html }}
          {{#page}}
            <div class="content" id="page-{{page.filename}}">
              {{{ page.content }}}
              {{#page.contact}}
                {{> wufoo }}
              {{/page.contact}}
            </div>
          {{/page}}

        </div>
      </div>    <!-- end main text and content area -->

      <div class='clear'></div>

    </div>
  </div><!-- /container -->
  <!-- ******************************* END CONTENT PAGE AREA *********************** -->

  <!-- ******************************* START FOOTER PAGE AREA *********************** -->

  <div id="footer" class="clear">
    Integral Psychotherapy, LLC<br />
    3808 Grand Ave. S<br />
    Minneapolis, MN 55409<br />
    612-807-0388<br /><br />
    <small>This site is hosted by <a href="http://www.sundaysenergy.com/">Sundays Energy</a> with servers powered by wind.</small>
  </div><!-- /footer -->
</div>
</div>
</div>  <!-- /page_wrapper -->
</body>
</html>